body {
  background-color: rgb(6, 53, 8);

}
h1{
  color: antiquewhite;
}
p {
  color: aliceblue;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex-container {
  display: flex;
  justify-content: center;
  height: 264px;
}

.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nombre-estilo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}
.password-estilo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.flex-boton {
  display: flex;
  justify-content: center;
}
.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  

}